.contact {
  background-color: rgb(247, 180, 180);
  padding: 25px;
}

.title__contact {
  text-align: center;
  font-size: 45px;
  margin-bottom: 25px;
}
.container__adress {
  font-size: 20px;
  width: 100%;
}
.icons__contact {
  display: flex;
  justify-content: center;
}

a {
  margin: 0 auto;
}

.adress {
  text-align: center;
}
.title__adress {
  margin: 25px;
}
iframe {
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 100px;
}
