* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 16px;
}
/* MENU */
header {
  display: block;
}
.container__header {
  display: flex;
  justify-content: space-between;
  background-color: #fc8482;
}
.header__img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}
.menu__nav {
  width: 50%;
  display: flex;
  align-items: center;
}
.menu__container {
  text-decoration: none;
  width: 100%;
  color: #00695c;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
li,
a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.menu__items {
  padding: 10px 20px;
  margin: 0;
  display: block;
  color: white;
  text-decoration: none;
}

/* MENU HAMBURGESA*/

.menu__hamburger {
  display: table;
  width: 98%;
  margin: auto;
  display: none;
}
label {
  float: right;
  font-size: 30px;
  margin: 0 16px;
  cursor: pointer;
}

.menu__dropdown {
  padding-top: 50px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 60vh;
  background: rgba(51, 51, 51, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.items {
  display: block;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
}
.items:hover {
  background: rgba(255, 255, 255, 0.3);
}

/*----------MENU- HAMBURGESA EL DIBUJO---------------------------------*/

#menu-bar:checked ~ .menu__dropdown {
  transform: translateX(0%);
}

#menu-bar {
  display: none;
}

#hamburger__wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.burger {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.burger,
.burger:before,
.burger:after {
  padding: 0;
  background-color: #909090;
  width: 80%;
  height: 8px;
  transition: margin 0.1s 0.2s, transform 0.2s;
  border-radius: 10%;
}

.burger:before,
.burger:after {
  margin: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.burger:before {
  margin-top: -12px;
}

.burger:after {
  margin-top: 12px;
}
/*ESTILOS PARA NUESTRA HAMBURGUESA CUANDO SE ABRE EL MENÚ*/

.open .burger {
  transform: rotate(45deg);
}

.open .burger,
.open .burger:before,
.open .burger:after {
  transition: margin 0.2s, transform 0.1s 0.2s;
}

.open .burger:before,
.open .burger:after {
  margin-top: 0;
}

.open .burger:after {
  transform: rotate(-90deg);
}

/*resposive */

@media (max-width: 666px) {
  .menu__hamburger {
    display: block;
  }

  .menu__nav {
    display: none;
  }
  .menu__container {
    margin: 16px 0;
    display: flex;
    list-style: none;
    padding: 0;
  }
  li {
    padding-left: 50px;
    padding-top: 10px;
  }
  #menu__items {
    font-family: "Montserrat";
    list-style: none;
    text-decoration: none;
    margin: 0 10px;
  }
}
