.products {
  background-color: #ffecf1;
  display: flex;
}

.products__container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 45px;
  margin: 25px;
}
.title__products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products__catalogo {
  display: flex;
}

.photo {
  width: 70%;
  border-radius: 20%;
}

.products__image {
  margin: 20px;
  text-align: center;
}

.titlle__products,
.btn__products {
  padding: 10px;
  font-size: 25px;
}

.btn__products {
  color: blue;
}
