.products {
  background-color: #ffecf1;
  display: flex;
  width: 100%;
}

.title__products {
  text-align: center;
  font-size: 45px;
  margin: 25px;
}

.products__catalogo {
  display: flex;
  flex-direction: row;
}

.photo {
  width: 70%;
  border-radius: 20%;
}

.products__image {
  text-align: center;
}

.titlle__products,
.btn__products {
  padding: 10px;
  font-size: 25px;
}

.btn__products {
  color: blue;
}

@media (max-width: 700px) {
  .products__catalogo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .description__products {
    margin-bottom: 50px;
  }
}
